html{
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    font-size: 12pt;
    margin: 0;
    padding: 0;
    display: block;
    background-color: azure;
    height: 100%;
}
header{
    background-color: lightskyblue;
}
h1#title{
    text-align: left;
    padding: 10px 100px 73px;
    margin: 0;
    font-size: 2.5rem;
}
div.header{

}
div.content{
    display: block;
    align-content: center;
    width:100%;
    min-height: 65.3%;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 100px;
}
button{
    padding: 7px;
    width: 70px;
}
label{
    display: inline-block;
    width: 350px;
}
label.short{
    display: inline-block;
    width: 100px;
}
p#result {
    padding-left: 30px;
}
p.message{
    text-align: center;
    padding-top: 20px;
    font-size: 1.30rem;
}
ul, li{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after{
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
.menu-bar > li {
    float: left;
    position: relative;
    display: block;
    width: 70px;
    text-decoration: none;
    text-align: center;
    border: 1px solid black
}
div.dropdown-name {
    padding: 7px;
}
.submenu {
    display: none;
    position: absolute;
    width: 100px;
    top: 31px;
    left: 0;
    background-color: lightskyblue;
    border: 1px solid black;
}
.submenu:hover {
    display: block;
}
.submenu li button{
    display: block;
    padding: 10px;
    width: 100px;
    background-color: lightskyblue;
    text-decoration: none;
    border: 1px solid black;
}
.menu-bar .dropdown:hover{
    background-color: dodgerblue;
}
.dropdown-name:hover .submenu {
    display: block;
}
.submenu li button:hover{
    text-decoration: underline;
}
.dropdown:hover .submenu{
    display: block;
}
.menu-bar .dropdown .dropdown-name:hover .submenu{
    display: block;
}
div.nav-bar{
    text-align: right;
    margin: 0;
    width: 100%;
}
ul.nav-menu{
    display: inline-flex;
    height: auto;
}
.nav-menu-item{
    display: block;
    padding: 10px 7px;
}
ul.nav-menu li {
    float: left;
    display: block;
    position: relative;
    min-width: 70px;
    max-height: 70px;
    font-size: 110%;
    text-decoration: none;
    text-align: center;
    border: 1px solid white;
    border-right: 0;
    /*border-collapse: collapse;*/
}
ul.nav-menu li a{
    color: black;
    text-decoration: none;
    text-align: center;
}
ul.nav-menu li a:visited {
    text-decoration: none;
    color: black;
}
form[name="logout"] input{
    border: 0;
    font: inherit;
    padding: 0;
    background: inherit;
    outline: none;
}
form[name="logout"]{padding: 0;}
form[name="logout"] button{
    border: 0;
    background: none;
    font: inherit;
    display: block;
    border-radius: 0px;
    box-shadow: none;
    background-color: inherit;
    padding: 10px 7px;
}
form{
    margin: 0 auto;
    width: max-content;
   /* width: 800px;*/
}
form[name="register"]{
    width: max-content;
}
form[name="menu"]{
    margin: 0;
    width: 100%;
    /*background-color: dodgerblue;*/
    background-color: #1F75FE;
}
form[name="logout"]{
    margin: 0;
    /*width: 100%;*/
}
form[name="log"]{
    text-align: center;
    margin: 0 auto;
    width: 800px;/*width: 200px;*/
}
form.list{
    margin-top: 30px;
}
div.greeting{
    display: block;
    text-align: center;
}
caption{
    padding-bottom: 10px;
}
table{
    padding: 7px;
    margin: 0 auto;
    min-width: 600px;
    max-width: 900px;
    border-collapse: collapse;
    border-color: black;
}
table tr th{
    border: 1px solid;
    height: 40px;
    padding: 4px;
}
table tr td{
    border: 1px solid;
    height: 40px;
    padding-left: 5px;
}
footer{
    background-color: lightskyblue;
    display: block;
    position: relative;
    text-align: right;
    font-size: 1.3rem;
    height: 50px;
    /*width: 100%;*/
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 70px;
    bottom: 0;
    /*right:0;*/
    margin-top: -100px;
}